body{
    background-color: rgb(255, 255, 255);
    color:rgb(32, 31, 34);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}


nav{

    color:rgb(253, 253, 253);
    background-color:rgb(73, 26, 26);
    padding: 10px;
}

nav a{
    color:white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{

    text-decoration: underline;

}
h1{

    color:rgb(73, 26, 26);
    background-color: bisque;

}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:rgb(73, 26, 26) ;
    color: white;
    text-align: center;
    padding: 10px;
}